---
BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
TabWidth: 4
---
Language: Cpp
ColumnLimit: 0
AlignAfterOpenBracket: BlockIndent
AlignOperands: DontAlign
BreakBeforeTernaryOperators: true
AlwaysBreakAfterReturnType: All
ReflowComments: false
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '<config.h>'
    Priority: -1
  - Regex: '<.+>'
    Priority: 1
  - Regex: '".*"'
    Priority: 2

