:root {
    --text-color: @theme_text_color;
    --bg-color: @theme_bg_color;
    --fg-color: @theme_fg_color;
    --base-color: @theme_base_color;
    --selected-bg-color: @theme_selected_bg_color;
    --selected-fg-color: @theme_selected_fg_color;
    --insensitive-bg-color: @theme_insensitive_bg_color;
    --insensitive-fg-color: @theme_insensitive_fg_color;
    --insensitive-base-color: @theme_insensitive_base_color;
    --unfocused-fg-color: @theme_unfocused_fg_color;
    --unfocused-text-color: @theme_unfocused_text_color;
    --unfocused-bg-color: @theme_unfocused_bg_color;
    --unfocused-base-color: @theme_unfocused_base_color;
    --unfocused-selected-bg-color: @theme_unfocused_selected_bg_color;
    --unfocused-selected-fg-color: @theme_unfocused_selected_fg_color;
    --unfocused-insensitive-color: @unfocused_insensitive_color;
    --border-color: @borders;
    --unfocused-border-color: @unfocused_borders;
    --warning-color: @warning_color;
    --error-color: @error_color;
    --success-color: @success_color;
    --content-view-bg: @content_view_bg;
    --text-view-bg: @text_view_bg;
}

/* --- Tab View ------------------------------------------------------------------------------------------- */

/* Tabs */
tab {
    border-radius: 8px 8px 0px 0px;
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    border-bottom: 0;
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 2px;
}
tab.selected {
    background-image: linear-gradient(
        to bottom,
        var(--selected-bg-color) 5px,
        var(--bg-color) 5px
    );
    margin-top: 0px;
    padding-top: 2px;
    margin-bottom: -1px;
    padding-bottom: 1px;
}
tab button.tab-close-button {
    padding: 0;
    margin: 5px;
}

/* Tab pages */
tabpages {
    padding: 3px;
    border: 1px solid var(--border-color);
    background: var(--bg-color);
}
tabpage {
    border: 1px solid var(--border-color);
}

/* Docked tabs */
tabview tabbar {
    padding-top: 2px;
}
tabview tabbar button.navigation-button {
    border: none;
    background: none;
    padding-top: 0;
    padding-bottom: 0;
}
tabview tabs:drop(active):not(:disabled) {
	box-shadow: none;  /* Disable green border. */
}
tabview tabpages,
tabview tabpage {
    padding-left: 0;
    padding-right: 0;
    border-left: 0;
    border-right: 0;
}

/* Dragged tabs */
tabdrag tab {
    margin-right: 200px;
}
tabdrag tabpages {
    background: var(--bg-color);
    border-radius: 3px;

}
tabdrag tabpage {
    min-height: 300px;
}

/* --- Toolbar View --------------------------------------------------------------------------------------- */

toolbarview {
    background: shade(var(--bg-color), 0.9);
}
toolbarview>bar {
    background: var(--bg-color);
}

toolbarview>bar.top-bar>*:not(revealer),
toolbarview>bar.top-bar>revealer>* {
    border-bottom: 1px solid var(--border-color);
}

toolbarview>bar.bottom-bar>*:not(revealer),
toolbarview>bar.bottom-bar>revealer>* {
    border-top: 1px solid var(--border-color);
}

toolbarview tabview tabpages {
    border-bottom: 0;
}

/* --- Status Bar ----------------------------------------------------------------------------------------- */

statusbar {
	border-spacing: 25px;
}

statusbar button {
	margin: 0;
	border: none;
	background: none;
	padding: 0;
}

/* --- Grids ---------------------------------------------------------------------------------------------- */

grid {
    border-spacing: 5px;
    padding: 5px;
}

